<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<TIG_Afterpay>
			<version>1.1.10</version>
		</TIG_Afterpay>
	</modules>
	<global>
        <payment>
            <groups>
                <afterpay>AfterPay</afterpay>
            </groups>
        </payment>
		<sales>
			<quote>
				<totals>
                	<paymentFee>
                		<class>afterpay/paymentFee_quote_address_total</class>
                        <renderer>afterpay/paymentFee_checkout_fee</renderer>
                		<after>tax</after>
                	</paymentFee>
				</totals>
			</quote>
			<order_invoice>
                <totals>
                    <afterpay>
                        <class>afterpay/paymentFee_order_invoice_total</class>
                        <after>tax</after>
                    </afterpay>
                </totals>
            </order_invoice>
			<order>
                <totalbar>
                    <afterpay>
                        <class>afterpay/paymentFee_order_totalbar</class>
                        <after>tax</after>
                    </afterpay>
                </totalbar>
            </order>
            <order_creditmemo>
            	<totals>
                    <afterpay>
                        <class>afterpay/paymentFee_order_creditmemo_total</class>
                        <after>tax</after>
                    </afterpay>
                </totals>
            </order_creditmemo>
		</sales>
		<fieldsets>
		    <sales_convert_quote>
		        <paymentfee>
		        	<to_order>*</to_order>
	                <base_payment_fee><to_order>*</to_order></base_payment_fee>
		        </paymentfee>
		        <sales_convert_quote_address>
	                <payment_fee><to_order>*</to_order></payment_fee>
	                <base_payment_fee><to_order>*</to_order></base_payment_fee>
	            </sales_convert_quote_address>
		    </sales_convert_quote>
		</fieldsets>
		<events>
			<admin_system_config_section_save_after>
				<observers>
					<afterpay_tax>
                        <type>model</type>
                        <class>afterpay/observer_config</class>
                        <method>admin_system_config_section_save_after</method>
					</afterpay_tax>
				</observers>
			</admin_system_config_section_save_after>
			<sales_quote_collect_totals_after>
                <observers>
                    <paymentfee>
                        <type>singleton</type>
                        <class>afterpay/paymentFee_observer</class>
                        <method>sales_quote_collect_totals_after</method>
                    </paymentfee>
                </observers>
            </sales_quote_collect_totals_after>
            <sales_order_payment_place_end>
                <observers>
                    <paymentfee>
                        <type>singleton</type>
                        <class>afterpay/paymentFee_observer</class>
                        <method>sales_order_payment_place_end</method>
                    </paymentfee>
                </observers>
            </sales_order_payment_place_end>
            <paymentfee_order_creditmemo_refund_before>
            	<observers>
            		<paymentfee>
            			<type>singleton</type>
            			<class>afterpay/paymentFee_observer</class>
            			<method>paymentfee_order_creditmemo_refund_before</method>
            		</paymentfee>
            	</observers>
            </paymentfee_order_creditmemo_refund_before>
            <sales_order_invoice_register>
            	<observers>
            		<paymentfee>
            			<type>singleton</type>
            			<class>afterpay/paymentFee_observer</class>
            			<method>sales_order_invoice_register</method>
            		</paymentfee>
            		<afterpay_request_capture>
            			<type>Model</type>
            			<class>afterpay/observer_capture</class>
            			<method>sales_order_invoice_register</method>
            		</afterpay_request_capture>
            	</observers>
            </sales_order_invoice_register>
        	<sales_order_payment_capture>
        		<observers>
            		<afterpay_request_capture>
            			<type>Model</type>
            			<class>afterpay/observer_capture</class>
            			<method>sales_order_payment_capture</method>
            		</afterpay_request_capture>
        		</observers>
        	</sales_order_payment_capture>
        	<sales_order_invoice_save_before>
        		<observers>
            		<afterpay_request_capture>
            			<type>Model</type>
            			<class>afterpay/observer_capture</class>
            			<method>sales_order_invoice_save_before</method>
            		</afterpay_request_capture>
        		</observers>
        	</sales_order_invoice_save_before>
        </events>
		<pdf>
            <totals>
                <paymentfee translate="title">
                    <title>Payment Fee</title>
                    <source_field>PaymentFee</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                    <amount_prefix></amount_prefix>
                </paymentfee>
            </totals>
        </pdf>
		<blocks>
	        <afterpay>
	            <class>TIG_Afterpay_Block</class>
	        </afterpay>
	        <adminhtml>
	        	<rewrite>
	        		<sales_order_totals_tax>TIG_Afterpay_Block_PaymentFee_Order_Totals_Tax</sales_order_totals_tax>
	        	</rewrite>
	        </adminhtml>
	    </blocks>
        <models>
            <afterpay>
                <class>TIG_Afterpay_Model</class>
            </afterpay>
            <sales>
            	<rewrite>
            		<order_creditmemo>TIG_Afterpay_Model_PaymentFee_Order_Creditmemo</order_creditmemo>
            		<service_order>TIG_Afterpay_Model_PaymentFee_Service_Order</service_order>
            	</rewrite>
            </sales>
        </models>
        <helpers>
            <afterpay>
                <class>TIG_Afterpay_Helper</class>
			</afterpay>  
        </helpers>
        <helpers>
        	<TIG_Afterpay>
        		<class>TIG_Afterpay_Helper</class>
        	</TIG_Afterpay>
        </helpers>
        <resources>
            <afterpay_setup>
                <setup>
                    <module>TIG_Afterpay</module>
                    <class>TIG_Afterpay_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </afterpay_setup>
            <afterpay_write>
                <connection>
                	<use>core_write</use>
                </connection>
            </afterpay_write>
            <afterpay_read>
                <connection>
               		<use>core_read</use>
            	</connection>
            </afterpay_read>
        </resources>
	</global>
	<frontend>
    	<layout>
		    <updates>
		        <TIG_Afterpay>
		        	<file>TIG/Afterpay/layout.xml</file>
		        </TIG_Afterpay>
		    </updates>
		</layout>
	    <routers>
	        <afterpay>
	            <use>standard</use>
	            <args>
	                <module>TIG_Afterpay</module>
	                <frontName>afterpay</frontName>
	            </args>
	        </afterpay>
	    </routers>
	    <translate>
            <modules>
                <TIG_Afterpay>
                    <files>
                        <default>TIG_Afterpay.csv</default>
                    </files>
                </TIG_Afterpay>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
    	<layout>
		    <updates>
		        <TIG_Afterpay>
		        	<file>TIG/Afterpay/layout.xml</file>
		        </TIG_Afterpay>
		    </updates>
		</layout>
		<translate>
            <modules>
                <TIG_Afterpay>
                    <files>
                        <default>TIG_Afterpay.csv</default>
                    </files>
                </TIG_Afterpay>
            </modules>
        </translate>
        <events>
        	<checkout_submit_all_after>
        		<observers>
            		<afterpay_backendOrder>
            			<type>Model</type>
            			<class>afterpay/observer_backendOrder</class>
            			<method>checkout_submit_all_after</method>
            		</afterpay_backendOrder>
        		</observers>
       		</checkout_submit_all_after>
        </events>
    </adminhtml>
	<default>
        <payment>
        	<afterpay>
        		<active>0</active>
        		<model>afterpay/portfolios_oldPaymentMethod</model>
        	</afterpay>
            <portfolio_a translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioA_paymentMethod</model>
                <sort_order>100</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio A</title>
            </portfolio_a>
            <portfolio_b translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioB_paymentMethod</model>
                <sort_order>200</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio B</title>
            </portfolio_b>
            <portfolio_c translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioC_paymentMethod</model>
                <sort_order>300</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio C</title>
            </portfolio_c>
            <portfolio_d translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioD_paymentMethod</model>
                <sort_order>400</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio D</title>
            </portfolio_d>
            <portfolio_e translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioE_paymentMethod</model>
                <sort_order>500</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio E</title>
            </portfolio_e>
            <portfolio_f translate="title">
                <active>1</active>
                <model>afterpay/portfolios_portfolioF_paymentMethod</model>
                <sort_order>600</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio F</title>
            </portfolio_f>
            <!-- <portfolio_g translate="title">
                <active>0</active>
                <model>afterpay/portfolios_portfolioG_paymentMethod</model>
                <sort_order>700</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio G</title>
            </portfolio_g>
            <portfolio_h translate="title">
                <active>0</active>
                <model>afterpay/portfolios_portfolioH_paymentMethod</model>
                <sort_order>800</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio H</title>
            </portfolio_h>
            <portfolio_i translate="title">
                <active>0</active>
                <model>afterpay/portfolios_portfolioI_paymentMethod</model>
                <sort_order>900</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio I</title>
            </portfolio_i>
            <portfolio_j translate="title">
                <active>0</active>
                <model>afterpay/portfolios_portfolioJ_paymentMethod</model>
                <sort_order>1000</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio J</title>
            </portfolio_j>
            <portfolio_k translate="title">
                <active>0</active>
                <model>afterpay/portfolios_portfolioK_paymentMethod</model>
                <sort_order>1100</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio K</title>
            </portfolio_k>
            <portfolio_l translate="title">
                <active>0</active>
                <model>afterpay/portfolios_portfolioL_paymentMethod</model>
                <sort_order>1200</sort_order>
                <group>afterpay</group>
                <title>AfterPay Portfolio L</title>
            </portfolio_l> -->
        </payment>
		<afterpay>
			<afterpay_general>
                <active>0</active>
                <limit_by_ip>0</limit_by_ip>
                <mode>1</mode>
				<success_redirect>checkout/onepage/success</success_redirect>
				<failure_redirect>checkout/onepage</failure_redirect>
				<auto_invoice>1</auto_invoice>
				<debug_mode>no</debug_mode>
			</afterpay_general>
			<afterpay_portfolio_a>
                <active>0</active>
                <mode>1</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_footnote></portfolio_footnote>
                <portfolio_extended_information>Binnen enkele dagen zult u per mail een betaaloverzicht van AfterPay ontvangen van waaruit u uw bestelling via DigiAccept/iDEAL kunt betalen.</portfolio_extended_information>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <portfolio_min_amount>10</portfolio_min_amount>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>1</allowspecific>
                <specificcountry>NL</specificcountry>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>100</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_a>
			<afterpay_portfolio_b>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>200</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_b>
			<afterpay_portfolio_c>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>300</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_c>
			<afterpay_portfolio_d>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>400</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_d>
			<afterpay_portfolio_e>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>500</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_e>
			<afterpay_portfolio_f>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>600</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_f>
			<afterpay_portfolio_g>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>700</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_g>
			<afterpay_portfolio_h>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>800</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_h>
			<afterpay_portfolio_i>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>900</sort_order>
                <area>both</area>
			</afterpay_portfolio_i>
			<afterpay_portfolio_j>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>1000</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_j>
			<afterpay_portfolio_k>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>1100</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_k>
			<afterpay_portfolio_l>
                <active>0</active>
                <mode>0</mode>
                <limit_by_ip>0</limit_by_ip>
                <portfolio_type>B2C</portfolio_type>
				<portfolio_showbankaccount>0</portfolio_showbankaccount>
                <portfolio_label>Achteraf betalen</portfolio_label>
                <portfolio_payment_fee_label>AfterPay servicekosten</portfolio_payment_fee_label>
                <order_status_pending>pending</order_status_pending>
                <order_status_accepted>processing</order_status_accepted>
                <order_status_refused>canceled</order_status_refused>
                <portfolio_accept_risk>0</portfolio_accept_risk>
                <risk_order_status_pending>pending</risk_order_status_pending>
                <risk_order_status_accepted>processing</risk_order_status_accepted>
                <allowspecific>0</allowspecific>
                <allowspecific_customers>0</allowspecific_customers>
                <sort_order>1200</sort_order>
                <area>both</area>
                <manual_risk_order_status_pending>pending</manual_risk_order_status_pending>
			</afterpay_portfolio_l>
         </afterpay>
	</default>
</config>