/* General */
#afterpay_afterpay_support p,
#afterpay_afterpay_support ul,
#afterpay_afterpay_support ol { padding:6px 0 10px;  }
#afterpay_afterpay_support ol { list-style:decimal inside; }
#afterpay_afterpay_support ol ol { list-style:lower-alpha inside; padding:0 0 10px 12px; }
#afterpay_afterpay_support ul ul { list-style:none; padding:0 0 10px 12px; }
#afterpay_afterpay_support h2.content-heading { color:#ea7601; border-bottom:4px solid #dfdfdf; }
#afterpay_afterpay_support h4,
#afterpay_afterpay_support p { margin:0;}
#afterpay_afterpay_support a.pdf { display:inline-block; height:16px; line-height:16px; padding:0 0 0 21px; background:url(../../../images/TIG/Afterpay/glyph_pdf.png) no-repeat; }
#afterpay_afterpay_support .text-box { background:#fff; padding:9px 16px; margin:6px 0 10px; border:1px solid #ccc; }
#afterpay_afterpay_support table.contact { margin:0 0 25px -1px; }
#afterpay_afterpay_support table.contact td { padding:0; }
#afterpay_afterpay_support table.contact td.first { width:150px; padding-right:5px; }

/* Legend */
#afterpay_afterpay_support #legend li { background:url(../../../images/TIG/Afterpay/legend.gif) 0 0 no-repeat; padding-left:14px;  }
#afterpay_afterpay_support #legend li.disabled { background-position:0 4px; }
#afterpay_afterpay_support #legend li.test { background-position:0 -25px; }
#afterpay_afterpay_support #legend li.live { background-position:0 -54px; }
#afterpay_afterpay_support #legend li.advanced { background-position:0 -83px; }
#afterpay_afterpay_support #legend li.extended { background-position:0 -112px; }

/* Structure */
#afterpay_afterpay_support .form-list,
#afterpay_afterpay_support #supportWrap { width:100% !important; }
#afterpay_afterpay_support #supportWrap .col-left,
#afterpay_afterpay_support #supportWrap .col-right { width:50%; }
#afterpay_afterpay_support #supportWrap .col-faux { padding:0 5px;  }

/* Labels */
.entry-edit .entry-edit-head { background-color:#97c600; }
.entry-edit .entry-edit-head.disabled { background-color:#c6cbc9; }
.entry-edit .entry-edit-head.test { background-color:#fff000; }
.entry-edit .entry-edit-head.test a { color:#222; }
.entry-edit .entry-edit-head.live { background-color:#97c600; }
.entry-edit .entry-edit-head.advanced { background-color:#f86000; }

/* Messages */
.module-message { padding:9px 9px 9px 30px; margin-bottom:20px; border:1px solid #ccc; }
.module-message.success { background:#fff url(../../../images/TIG/Afterpay/glyph_success.gif) 9px 9px no-repeat; } 
.module-message.info { background:#fff url(../../../images/TIG/Afterpay/glyph_info.gif) 9px 9px no-repeat;  } 
.module-message.warning { background:#fff url(../../../images/TIG/Afterpay/glyph_warning.gif) 9px 9px no-repeat;  }
.module-message.error { background:#fff url(../../../images/TIG/Afterpay/glyph_error.gif) 9px 9px no-repeat;  } 
.module-message.buckaroo { margin-bottom:20px; }